@mixin loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-company {
  @include loader;
}
.loader-news {
  @include loader;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#myDiv {
  display: none;
  text-align: center;
}
@mixin loader-container{
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.loader-container-company {
  @include loader-container;
}

.loader-container-news {
  @include loader-container;
}
